{% extends "base.html" %}
{% load humanize %}


{% block content %}

<h3>Recent Searches</h3>
<table  class="table table-striped">
<thead>
    <tr>
        <th>Domain</th>
        <th>Checked At</th>
        <th>Hosting</th>
        <th>Alexa</th>
        <th>Page Rank</th>
    </tr>
</thead>
    {% for d in domains %}
        <tr>
            {% url 'view_domain' d.domain as the_url %}
            <td><a href="{{ the_url }}">{{ d.domain }}</a></td>
            <td>{{ d.checked_at | naturaltime }}</td>
            <td>
                {% if d.isp == "Linode" %}
                    <a href="http://goo.gl/MnEC8" target="_blank">{{ d.isp }}</a>
                {% elif domain.isp == "New Dream Network, LLC"  %}
                    <a href="http://goo.gl/etVsT" target="_blank">{{ d.isp }}</a>
                {% else %}
                    <a href="http://www.google.com.au/search?q={{ d.isp }}&ie=utf-8&oe=utf-8&client=ubuntu&channel=fs&redir_esc=&ei=LGs9UInXHcuviQferIHwBA" target="_blank">{{ d.isp }}</a>
                {% endif %}
            </td>
            <td>{{ d.alexa_rank |intcomma}}</td>
            <td>{{ d.page_rank }}</td>
        </tr>
    {% empty %}
        <li>Sorry, no domains in this list!</li>
    {% endfor %}
</table>
{% endblock %}