{% extends "base.html" %}
{% load humanize %}
{% load pagination_tags %}


{% block content %}
{% autopaginate domains %}

<h3>Recent Searches</h3>
    <a href="/archive">all</a>
    {% paginate %}
<table  class="table table-striped">
<thead>
    <tr>
        <th>Domain</th>
        <th>Checked At</th>
        <th>Hosting</th>
        <th>Alexa</th>
        <th>Page Rank</th>
    </tr>
</thead>

    {% for d in domains %}
        <tr>
            {% url 'view_domain' d.domain as the_url %}
            <td><a href="{{ the_url }}">{{ d.domain }}</a></td>
            <td>{{ d.checked_at | naturaltime }}</td>
            <td>
                {% if d.isp == "Linode" %}
                    <a href="http://goo.gl/MnEC8" target="_blank">{{ d.isp }}</a>
                {% elif domain.isp == "New Dream Network, LLC"  %}
                    <a href="http://goo.gl/etVsT" target="_blank">{{ d.isp }}</a>
                {% else %}
                    {% with d.isp|iriencode as isp %}
                    {% url 'view_archive' isp as the_url %}
                    <a href="{{ the_url }}">{{ d.isp }}</a>
                    {% endwith %}
                {% endif %}
            </td>
            <td>{{ d.alexa_rank |intcomma}}</td>
            <td>{{ d.page_rank }}</td>
        </tr>
    {% empty %}
        <li>Sorry, no domains in this list!</li>

    {% endfor %}


</table>
    {% paginate %}
{% endblock %}