
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Site Peek | Find out who is hosting this site, google page rank, alexa rank etc</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34417173-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
<div class="container">
    <div class="jumbotron subhead">
        <h1><a href="/">Site Peek!</a> <small>early alpha</small></h1>
    </div>
    <div class="row">
        <div class="span2 offset4">Peek the site!</div>
    </div>


    {% if error %}
        <div class="alert alert-error">
    {{ error }}
        </div>
    {% endif %}

    <div class="row">
        <div class="span6 offset3">
            <form class="form-search" action="/search" method="post">
                <i class="icon-zoom-out"></i><input type="text" class="input-xlarge search-query"
                                                    placeholder="enter site name" name="domain">
                <button type="submit" class="btn">Peek!</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    {% block content %}{% endblock %}



    <div class="footer row">
       <div class="span8 offset1">SitePeek 2012 | Sydney, Australia | suggestion: <a href="mailto:info@sitepeek.com.au">info@sitepeek.com.au</a></div>
        <div class="span8 offset1">Hosted with<a href="http://goo.gl/MnEC8" target="_blank"> linode</a> and coded with django</div>
    </div>

    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>