{% extends "base.html" %}
{% load humanize %}



{% block content %}

    {% if domain %}
    {% if view %}
    <div class="row">
        <div class="span9 offset1">
            <p  class="alert">
                <small>Following information is retrieved at {{ domain.checked_at |naturaltime}}, you can make new search by using the form above</small>
            </p>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="span9 offset1">
            <h5>Site Details</h5>
            <ul>
                <li><strong>Domain Name: </strong>{{ domain.domain }}</li>
                <li><strong>Web Server: </strong>{{ domain.server|default:"Unknown" }} <small>{{ domain.x_powered_by |default:""}}</small></li>
                <li><strong>IP Address: </strong>{{ domain.ip }}</li>
                <li><strong>Hosted by: </strong>
                    {% if domain.isp == "Linode" %}
                    <a href="http://www.linode.com/?r=148ac8327204f3f61c76690e7faa709611384a24" target="_blank">{{ domain.isp }}</a>
                    {% elif domain.isp == "New Dream Network, LLC"  %}
                    <a href="http://www.dreamhost.com/r.cgi?611717" target="_blank">{{ domain.isp }}</a>
                    {% else %}
                    <a href="http://www.google.com.au/search?q={{ domain.isp }}&ie=utf-8&oe=utf-8&client=ubuntu&channel=fs&redir_esc=&ei=LGs9UInXHcuviQferIHwBA" target="_blank">{{ domain.isp }}</a>
                    {% endif %}

                </li>

                <li><strong>Location: </strong>{{ domain.city }} {{ domain.region_name }} {{ domain.country_name }}</li>
            </ul>

            {% if seo_dict %}
            <h5>Seo Facts</h5>
            <ul>
                {% if domain.title %}
                <li><strong>Title: </strong>{{ domain.title }}</li>
                <li>Length: {{ domain.title |length }} characters</li>
                {% endif %}

                {% if domain.keywords %}
                <li><strong>Keyword: </strong>{{ domain.keywords }}</li>
                <li>Length: {{ domain.keywords |length }} characters</li>
                {% endif %}

                {% if domain.description %}
                <li><strong>Description: </strong>{{ domain.description }}</li>
                <li>Length: {{ domain.description |length }} characters</li>
                {% endif %}

                {% if domain.encoding %}
                <li><strong>Encoding: </strong>{{ domain.encoding }}</li>
                {% endif %}



                <li><strong>Has robots.txt: </strong>{{ domain.has_robots_txt |yesno}}</li>
                <li><strong>Has sitemap.xml: </strong>{{ domain.has_sitemap_xml|yesno }}</li>
                <li><strong>www resolve: </strong>{{ domain.www_resolve|yesno }}</li>



                <li><strong>Dmoz indexed: </strong><a href="http://www.dmoz.org/search/?q={{ domain.domain }}" rel="nofollow">{{ domain.dmoz_indexed |yesno}}</a></li>

                <li><strong>Google Back Links: </strong>
                    <a href="https://www.google.com/search?q=%22{{ domain.domain }}%22-site:{{ domain.domain }}"  rel="nofollow">
                    {{ domain.google_back_links |intcomma}}
                    </a>
                </li>
                <li><strong>Google Indexed: </strong><a href="https://www.google.com/search?q=site:{{ domain.domain }}"  rel="nofollow">{{ domain.google_indexed |intcomma}}</a></li>

                <li><strong>Google Page Rank: </strong>{{ domain.page_rank }}</li>
                <li><strong>Alexa: </strong>{{ domain.alexa_rank |intcomma}}</li>
            </ul>
          {% endif %}

            <h5>Images</h5>
          {% if images %}
            <ul>
            {% for image in images %}
               <li>{{ image.src }} {{ image.alt  }} </li>
              {% endfor %}
            </ul>
          {% endif %}



        </div>
    </div>
    {% endif %}

    {% if name_servers %}
    <div class="row">
        <div class="span9 offset1">
            <h5>Name Servers</h5>
            <ul>
                {% for ns in name_servers %}
                    <li>{{ ns.hostname }} hosted by <a href="http://www.google.com.au/search?q={{ ns.isp }}&ie=utf-8&oe=utf-8&client=ubuntu&channel=fs&redir_esc=&ei=LGs9UInXHcuviQferIHwBA" target="_blank">{{ ns.isp }}</a></li>
                {% empty %}
                    No Name Server Found
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}


    {% if mail_servers %}
    <div class="row">
        <div class="span9 offset1">
            <h5>Mail Servers</h5>
            <ul>
                {% for mx in mail_servers %}
                    <li>{{ mx.hostname }} hosted by  <a href="http://www.google.com.au/search?q={{ mx.isp }}&ie=utf-8&oe=utf-8&client=ubuntu&channel=fs&redir_esc=&ei=LGs9UInXHcuviQferIHwBA" target="_blank">{{ mx.isp }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="span4 offset1">
            <h5>Recent Searches</h5>
            <ul>
            {% for d in recent_domains %}
                {% url 'view_domain' d.domain as the_url %}
                <li><a href="{{ the_url }}">{{ d.domain }}</a> checked at {{ d.checked_at | naturaltime}}</li>
            {% empty %}
                <li>No recent domain search records found...</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}