{% extends "base.html" %}
{% load humanize %}



{% block content %}

    {% if domain %}
    {% if view %}
    <div class="row">
        <div class="span9 offset1">
            <p  class="alert">
                <small>Following information is retrieved at {{ domain.checked_at |naturaltime}}, you can make new search by using the form above</small>
            </p>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="span9 offset1">
            <h5>Site Details</h5>
            <div><a href="http://{{ domain.domain }}" target="_blank" rel="nofollow"><img src="http://open.thumbshots.org/image.pxf?url=http://{{ domain.domain }}" alt="{{ domain.domain }}" /></a></div>
            <ul>
                <li><strong>Domain Name: </strong> <a href="http://{{ domain.domain }}" target="_blank" rel="nofollow">{{ domain.domain }}</a></li>
                {% if domain.server %}
                <li><strong>Web Server: </strong>{{ domain.server|default:"Unknown" }} </li>
                {% endif %}


                <li><strong>IP Address: </strong>{{ domain.ip }}</li>
                <li><strong>Hosted by: </strong>
                    {% if domain.isp == "Linode" %}
                    <a href="http://goo.gl/MnEC8" target="_blank" rel="nofollow">{{ domain.isp }}</a>
                    {% elif domain.isp == "New Dream Network, LLC"  %}
                    <a href="http://goo.gl/etVsT" target="_blank" rel="nofollow">{{ domain.isp }}</a>
                    {% else %}
                        {% with domain.isp|iriencode as isp %}
                            {% url 'view_archive' isp as the_url %}
                            <a href="{{ the_url }}">{{ domain.isp }}</a>
                        {% endwith %}

                    {% endif %}

                </li>

                <li><strong>Location: </strong>{{ domain.city }} {{ domain.region_name }} {{ domain.country_name }}</li>
            </ul>

            <h5>Seo Facts</h5>
            <ul>
                {% if domain.title %}
                <li><strong>Title: </strong>{{ domain.title }}</li>
                <li>Length: {{ domain.title |length }} characters</li>
                {% endif %}

                {% if domain.keywords %}
                <li><strong>Keyword: </strong>{{ domain.keywords }}</li>
                <li>Length: {{ domain.keywords |length }} characters</li>
                {% endif %}

                {% if domain.description %}
                <li><strong>Description: </strong>{{ domain.description }}</li>
                <li>Length: {{ domain.description |length }} characters</li>
                {% endif %}

                {% if domain.encoding %}
                <li><strong>Encoding: </strong>{{ domain.encoding }}</li>
                {% endif %}



                <li><strong>Has robots.txt: </strong>{{ domain.has_robots_txt |yesno}}
                    {% if domain.has_robots_txt %}
                        &nbsp;<a href="http://{{ domain.domain }}/robots.txt" rel="nofollow">robots.txt</a>
                    {% endif %}
                </li>
                <li><strong>Has sitemap.xml: </strong>{{ domain.has_sitemap_xml|yesno }}
                    {% if domain.has_sitemap_xml %}
                        &nbsp;<a href="http://{{ domain.domain }}/sitemap.xml" rel="nofollow">sitemap.xml</a>
                    {% endif %}
                </li>
                <li><strong>www resolve: </strong>{{ domain.www_resolve|yesno }}</li>



                <li><strong>Dmoz indexed: </strong><a href="http://www.dmoz.org/search/?q={{ domain.domain }}" rel="nofollow">{{ domain.dmoz_indexed |yesno}}</a></li>

                <li><strong>Google Back Links: </strong>
                    <a href="https://www.google.com/search?q=%22{{ domain.domain }}%22-site:{{ domain.domain }}"  rel="nofollow">
                    {{ domain.google_back_links |intcomma}}
                    </a>
                </li>
                <li><strong>Google Indexed: </strong><a href="https://www.google.com/search?q=site:{{ domain.domain }}"  rel="nofollow">{{ domain.google_indexed |intcomma}}</a></li>

                <li><strong>Google Page Rank: </strong>{{ domain.page_rank }}/10</li>
                <li><strong>Alexa: </strong>{{ domain.alexa_rank |intcomma}}</li>
            </ul>


          <h5>Images Referenced (by using img tag)</h5>

            <ul>
            {% for image in images %}
               <li>{{ image.src }} {{ image.alt|default:"Missing alt tag"}} </li>
            {% empty %}
                <li>No image found</li>
            {% endfor %}
            </ul>



            <h5>Usability</h5>
            <ul>
                <li>number of javascript files referenced: {{ domain.num_of_js_files }}</li>
                <li>using google analytics: {{ domain.using_google_analytics |yesno }}</li>
                <li>has conversion form: {{ domain.has_conversion_form |yesno }}</li>
            </ul>


            <h5>HTML Headings</h5>
            <h6>H1 Heading</h6>
            <ul>
                {% for h1_tag in h1_tags %}
                    <li>{{ h1_tag }}</li>
                {% empty %}
                    <li>no h1 tag found</li>
                {% endfor %}
            </ul>

            <h6>H2 Heading</h6>
            <ul>
                {% for h2_tag in h2_tags %}
                    <li>{{ h2_tag }}</li>
                {% empty %}
                    <li>no h2 tag found</li>
                {% endfor %}
            </ul>

            <h6>H3 Heading</h6>
            <ul>
                {% for h3_tag in h3_tags %}
                    <li>{{ h3_tag }}</li>
                {% empty %}
                    <li>no h3 tag found</li>
                {% endfor %}
            </ul>

            <h6>H4 Heading</h6>
            <ul>
                {% for h4_tag in h4_tags %}
                    <li>{{ h5_tag }}</li>
                {% empty %}
                    <li>no h4 tag found</li>

                {% endfor %}
            </ul>

            <h6>H5 Heading</h6>
            <ul>
                {% for h5_tag in h5_tags %}
                    <li>{{ h5_tag }}</li>
                {% empty %}
                    <li>no h5 tag found</li>

                {% endfor %}
            </ul>
            <h6>H6 Heading</h6>
            <ul>
                {% for h6_tag in h6_tag %}
                    <li>{{ h6_tag }}</li>
                {% empty %}
                    <li>no h6 tag found</li>

                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% if name_servers %}
    <div class="row">
        <div class="span9 offset1">
            <h5>Name Servers</h5>
            <ul>
                {% for ns in name_servers %}
                    <li>{{ ns.hostname }} hosted by <a href="http://www.google.com.au/search?q={{ ns.isp }}&ie=utf-8&oe=utf-8&client=ubuntu&channel=fs&redir_esc=&ei=LGs9UInXHcuviQferIHwBA" target="_blank" rel="nofollow">{{ ns.isp }}</a></li>
                {% empty %}
                    No Name Server Found
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}


    {% if mail_servers %}
    <div class="row">
        <div class="span9 offset1">
            <h5>Mail Servers</h5>
            <ul>
                {% for mx in mail_servers %}
                    <li>{{ mx.hostname }} hosted by  <a href="http://www.google.com.au/search?q={{ mx.isp }}&ie=utf-8&oe=utf-8&client=ubuntu&channel=fs&redir_esc=&ei=LGs9UInXHcuviQferIHwBA" target="_blank" rel="nofollow">{{ mx.isp }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="span9 offset1">
            <h5>Recent Searches</h5>
            <ul>
            {% for d in recent_domains %}
                {% url 'view_domain' d.domain as the_url %}
                <li><a href="{{ the_url }}">{{ d.domain }}</a> checked at {{ d.checked_at | naturaltime}}</li>
            {% empty %}
                <li>No recent domain search records found...</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}